@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {

  --bg-header-collor: #2D28FF;
  --font-header-collor: #FFFFFF;

  --bg-field-color: #C7C7C7;
  --font-field-color: #000000;

  --bg-primary-color: #FFFFFF;
  --font-primary-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

html, body {
    background-color: var(--bg-primary-color);
}

.rt-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

main {
    padding: 0 20px;
}
